

body {
  display: grid;
  grid-template-rows: 60px 1fr max-content;
  align-items: center;
  justify-items: center;
}

main{
  display: grid;
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  align-items: center;
  justify-content: inherit;
  justify-items: center;
  padding-top: 2em;
  width: 95%;
}

h1{
  text-align: center;
}

#info{
  width: 100%;
  min-height: 25em;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 2em;
  /* align-items: center;
  justify-content: center; */
  padding: 2em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .18);
  border: 2px solid rgba(0, 0, 0, 0.39);
  border-radius: 5px;
}

#info h2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#dados{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1em;
 grid-template-rows: 4em 1fr;
}

#dados div{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 2em;
  height: 100%;
  padding: 1em;
  font-size: 1.1rem;
}

#localizacao{
  display: grid;
  grid-template-rows: 4em 1fr;
}

iframe{
  width: 100%;
  height: 100%;
}

#dados a{
  color: rgb(102, 102, 102);
}


@media screen and (width <= 700px) {
  #info{
    display: flex;
    flex-direction: column;
  }

  iframe{
    min-height: 20em;
  }
}