* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 400px 1fr max-content;
}

main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    gap: 2em;
    flex-direction: column;
}

main h2 {
    font-size: 3rem;
}

@media screen and (width <=600px) {

    html {
        font-size: 1.2rem;
    }

    main {
        padding: 3em 0;
    }

}