footer {
  background-color: gray;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer p,
footer a {
  color: white;
}

footer a:visited {
  color: lightgray;
}