
:root{
    --corBlocoTitulos: linear-gradient(45deg, rgba(0, 0, 0, 0.399), rgba(0, 0, 0, 0.316));
}

body{
  display: grid;
  grid-template-rows: 60px 1fr max-content max-content;
}

#navegacao {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
  border-radius: 6px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 1em;
  margin: 3em;
  max-width: 1000px;
}

main{
  gap: 0;
  position: relative;
}

main h2 {
  font-size: 3rem;
  margin-top: 1em;
}


.card {
  display: grid;
  grid-template-rows: 250px 1fr;
  gap: 1em;
  border: 1px solid gray;
  padding: 1em;
  border-radius: 3px;
  max-width: 400px;
}

.imagem {
  background-image: url("../img/noImage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contatoCard .imagem{
  background-image: url("../img/contato.jpg");
}

#produtosCard .imagem{
  background-image: url("../img/serra.jpg");
}

.conteudo {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
  padding: 1em;
  font-size: 1.1rem;
}

.conteudo p {
  text-indent: 1.5rem;
}

h1 {
  font-size: 3rem;
}

#tituloConteudo h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

#tituloContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.252)), url('../img/banner.jpeg');
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  padding: 3em;
  height: calc(100svh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

#tituloConteudo {
  background-image: var(--corBlocoTitulos);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  gap: 1.3em;
  border-radius: 8px;
  max-width: 1200px;
}

#autorizados{
  background-color: rgb(183, 183, 183) ;
  width: 100%;
  color: white;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

#autorizados h3{
  font-size: 1.7rem;
  text-align: center;
}

#autorizados ul{
  list-style: none;
  font-size: 1.2rem;
  margin: .5em;
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

#autorizados li{
  color: white;
  font-weight: bold;
  flex-grow: 0;
  border: 1px solid rgba(0, 0, 0, 0.411);
}

#autorizados li::first-letter{
  text-transform: capitalize;
}

#sobre{
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(157, 157, 157);
  color: white;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sobre p{
  text-indent: 1.5rem;
  max-width: 1200px;
}

#redesSociais{
  position: absolute;
  display: block;
  top: 1.5em;
  right: 3em;
  padding: .5em;
  background-image: var(--corBlocoTitulos);
  border-radius: 5px;
  display: flex;
  gap: 1em;
  width: max-content;
}

#redesSociais a:hover{
  transform: scale(1.05);
  transition: .3s;
}

.redes{
  display: block;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#instaButton{
 background-image: url('../img/instagramIcon.png');
}

#whatsappButton{
  background-image: url('../img/iconeWhatsapp.png');
}

.saberMais {
  text-align: center;
  margin: auto;
  background-color: #373aff;
  text-indent: initial !important;
  padding: .8em;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.saberMais:hover {
  transform: scale(1.05);
  transition: .3s;
}

#autorizados li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  /* background-color: white; */
  width: 120px;
}

#autorizados li:has(img.logoAutorizados){
  background-color: white;
}

.logoAutorizados{
  width: 110px;
  max-height: 70px;
  /* height: 80px; */
}

@media screen and (width < 600px) {

  #principaisProdutosContainer {
    width: 100%;
    box-shadow: none;
  }

  #principaisProdutosContainer {
    padding: 0;
  }

  #tituloContainer {
    padding: 0;
  }

  #tituloConteudo {
    height: 100%;
    border-radius: 0;
  }


  .produto:hover {
    transform: none;
  }

  .produto {
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .12);
  }

  #redesSociais{
    right: 1em;
    background: none;
  }
}

@media screen and (width <=800px) {

  #principaisProdutosContainer {
    grid-template-columns: 1fr;
  }

  #autorizados ul{
    columns: 1;
  }

  #navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
  }

}