

body{
  display: grid;
  grid-template-rows: 60px 1fr max-content max-content;
}

#principaisProdutosContainer {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
  border-radius: 6px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 1em;
  margin: 3em;
  max-width: 1000px;
}

main h2 {
  font-size: 3rem;
}

.produto {
  display: grid;
  grid-template-rows: 300px 1fr;
  gap: 1em;
  border: 1px solid gray;
  padding: 1em;
  border-radius: 3px;
}

.produto:hover {
  transform: scale(1.05);
  transition: .3s;
}

.produtoImagem {
  background-image: url("../img/noImage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.produtoConteudo {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}

.produtoConteudo p {
  text-indent: 1.5rem;
}

h1 {
  font-size: 3rem;
}

#tituloConteudo h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

#tituloContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.252)), url('../img/noImage.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3em;
  height: calc(100svh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

#tituloConteudo {
  background-image: var(--corBlocoTitulos);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  gap: 1.3em;
  border-radius: 8px;
  max-width: 1200px;
}

#autorizados{
  background-color: darkgray ;
  width: 100vw;
  color: white;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

#autorizados h3{
  font-size: 1.7rem;
  text-align: center;
}

#autorizados ul{
  list-style: none;
  columns: 2;
  font-size: 1.2rem;
  margin: .5em;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

#autorizados li{
  color: white;
  font-weight: bold;
}

#autorizados li::first-letter{
  text-transform: capitalize;
}



@media screen and (width < 600px) {

  #principaisProdutosContainer {
    width: 100%;
    box-shadow: none;
  }

  #principaisProdutosContainer {
    padding: 0;
  }

  #tituloContainer {
    padding: 0;
  }

  #tituloConteudo {
    height: 100%;
    border-radius: 0;
  }


  .produto:hover {
    transform: none;
  }

  .produto {
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .12);
  }
}

@media screen and (width <=800px) {

  #principaisProdutosContainer {
    grid-template-columns: 1fr;
  }

}