
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --corNavBar: rgb(55, 58, 255);
  --corBlocoTitulos: linear-gradient(45deg,rgba(0, 0, 0, 0.399), rgba(0, 0, 0, 0.316));
}

body{
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 400px 1fr max-content;
}

header{
  flex-direction: column;
  display: flex;
  height: 100%;
}

nav{
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: var(--corNavBar);
  position: relative;
}

ul{
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 4em;
  gap: 2em;
}

li{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

#logo{
  position: absolute;
  left: 2em;
  top: 50%;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  background-image: url("img/logo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

#tituloContainer{
  background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.252)), url('img/noImage.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#tituloConteudo{
  background-image: var(--corBlocoTitulos);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1.3em;
  border-radius: 8px;
  max-width: 1200px;
  
}

h1{
  font-size: 3rem;
}

header h2{
  font-size: 1.2rem;
  font-weight: normal;
}

main{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
  gap: 2em;
  flex-direction: column;
}

main h2{
  font-size: 3rem;
}

#principaisProdutosContainer{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding: 1em;
}

.produto{
  display: grid;
  grid-template-rows: 300px 1fr;
  gap: 1em;
  border: 1px solid gray;
  padding: 1em;
  border-radius: 3px;
}

.produto:hover{
  transform: scale(1.05);
  transition: .3s;
}

.produtoImagem{
  background-image: url("img/noImage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.produtoConteudo{
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1em;
}

.produtoConteudo p{
  text-indent: 1.5rem;
}

footer{
  background-color: gray;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p, footer a{
  color: white;
}

footer a:visited{
  color: lightgray;
}

@media screen and (width < 600px){
  html{
    font-size: 1.2rem;
  }

  #tituloContainer{
    padding: 0;
  }

  #tituloConteudo{
    height: 100%;
    border-radius: 0;
  }

  ul{
    padding-right: 1em;
  }

  #logo{
    left: 1em;
  }

  #principaisProdutosContainer{
    width: 100%;
    box-shadow: none;
  }

  #principaisProdutosContainer{
    padding: 0;
  }

  main{
    padding: 3em 0;
  }

  .produto:hover{
    transform: none;
  }

  .produto{
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .12);
  }
}